---
import { SITE_TITLE } from "@/lib/consts";
import { Button } from "./ui/button";
import { ThemeSwitcher } from "./react/theme-switch";
import { Icon } from "astro-icon/components";
import { cn } from "@/lib/utils";
import { auth } from "@/lib/auth";
const { theme } = Astro.props;

const session = await auth.api.getSession({
  headers: Astro.request.headers,
});
const { pathname } = Astro.url;
const authIcon = session ? "tabler:lock-open-2" : "tabler:lock";

const navLinks = [
  { href: "/", label: "Home", icon: "tabler:home" },
  // { href: "/drizzle", label: "Drizzle", icon: "drizzle" },
  { href: "/auth", label: "Auth", icon: authIcon },
];
---

<header class="border-b">
  <nav class="container mx-auto flex items-center py-4">
    <Button variant={"link"}><a href="/">{SITE_TITLE}</a></Button>

    <ul class="ml-auto inline-flex gap-2">
      {
        navLinks.map((link) => (
          <li>
            <a
              href={link.href}
              class={cn(
                "text-foreground border-background hover:border-accent-foreground inline-flex items-center justify-center gap-2 border-b px-2 py-2 font-medium",
                {
                  "border-accent-foreground text-primary":
                    link.href === pathname,
                },
              )}
            >
              <Icon name={link.icon} />
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="ml-auto">
      <ThemeSwitcher client:load transition:persist active={theme} />
    </div>
  </nav>
</header>
