---
import { SITE_TITLE } from "@/lib/consts";
import { Button } from "./ui/button";
import { ThemeSwitcher } from "./react/theme-switch";
import { Icon } from "astro-icon/components";
import { cn } from "@/lib/utils";
import { auth } from "@/lib/auth";
const { theme } = Astro.props;

const session = await auth.api.getSession({
  headers: Astro.request.headers,
});
const { pathname } = Astro.url;
const authIcon = session ? "tabler:lock-open-2" : "tabler:lock";

const navLinks = [
  { href: "/", label: "Home", icon: "tabler:home" },
  { href: "/drizzle", label: "Drizzle", icon: "drizzle" },
  { href: "/auth", label: "Auth", icon: authIcon },
];
---

<header class="border-b">
  <nav class="container mx-auto flex items-center py-4">
    <Button variant={"link"}><a href="/">{SITE_TITLE}</a></Button>

    <ul class="ml-auto inline-flex gap-2" transition:name="nav-bar">
      {
        navLinks.map((link) => {
          const active = link.href === pathname;
          return (
            <li class="group relative">
              <a
                aria-current={active && "page"}
                href={link.href}
                class={cn(
                  "text-foreground inline-flex items-center justify-center gap-2 px-2 py-2 font-medium",
                )}
              >
                <Icon name={link.icon} />
                {link.label}
              </a>
              {active && (
                <div
                  transition:name={`active-indicator`}
                  class={cn(
                    "bg-accent-foreground absolute bottom-0 left-0 h-0.5 w-full",
                  )}
                />
              )}
            </li>
          );
        })
      }
    </ul>
    <div class="ml-auto">
      <ThemeSwitcher client:load transition:persist active={theme} />
    </div>
  </nav>
</header>
